* {
    margin: 0;
    border: 0;
}

.fonts-box {
    display:flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    background-color: #2b2a2a;
    color: #c2c1c1;
    font-size: 60px;
    padding: 30px 0;
}

.font-box {
    padding: 0 5px;
}

.font-box-exclude {
    padding: 0 5px;
}

.font-pointer {
    cursor: pointer;
}