* {
    margin: 0;
    border: 0;
}

body {
    overflow-y:hidden;
    background-color: #2b2a2a;
    font-family: monospace;
}

header {
    margin: 25px;
    text-align: center;
}

h1 {
    color: #c2c1c1;
    font-size: 50px;
    font-weight: 100px;
    margin: 50px;
}

.fonts-box {
    display:flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 120px;
    margin: 40px 0 auto;
    background-color: #2b2a2a;
    color: #c2c1c1;
    font-size: 90px;
    line-height: 120px;
    padding: 30px 0;
}

@keyframes opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fonts-box-gradient {
    background-image:
    radial-gradient(
        circle at bottom center,
        #616060,
        #2b2a2a
    );
    animation: opacity 1.5s ease-in 0s 1 normal none;
}  

.font-box {
    padding: 0 5px;
    animation: opacity 1.5s ease-in 0s 1 normal none;
}

.font-box img {
    vertical-align: middle;
    animation: opacity 2s ease-in 0s 1 normal none;
}

.font-box-exclude {
    padding: 0 5px;
}

.font-pointer {
    cursor: pointer;
}

.welcome {
    width: 100%;
    height: 120px;
    margin: 0 auto;
    padding: 80px 0 20px 0;
    text-align: center;
    font-size: 40px;
    color: #c2c1c1;
    }

.welcome p {
    cursor: pointer
}

.welcome-gradient {
    background-image:
    radial-gradient(
        circle at bottom center,
        #616060,
        #2b2a2a
    );
    animation: opacity 1s ease-in 0s 1 normal none;
}

.show-info{
    width: 60%;
    margin: 0 auto;
    font-size: 20px;
    color: #c2c1c1;
    animation: opacity 1s ease-in 0s 1 normal none;
}

.show-info ul{
    list-style-type: none;
    font-family: monospace;
    padding: 10px;
    margin: 20px 0;
}

.show-info li {
    margin-left: 10px;
}

.show-info h2 {
    text-align: center;
    font-size: 40px;
    margin: 20px;
}

.show-info a {
    color: #c2c1c1;
    text-decoration: none;
}

.show-info a:hover {
    text-decoration: underline;
}

.random-font {
    margin: 20px 0 0 0;
    font-family: monospace;
    font-weight: bold;
}

.random-font span{
    color:#b5d775;
}

.imposter-font-name {
    margin: 10px 0 0 0;
    font-family: monospace;
    font-weight: bold;
}

.imposter-font-name span{
    color:#b5d775;
}

.right-pick {
    background-image:
    radial-gradient(
        circle at bottom center,
        #2e613b,
        #2b2a2a
    );
}

.wrong-pick {background-image:
    radial-gradient(
        circle at bottom center,
        #612e2e,
        #2b2a2a
    );
}

.next-round{
    text-align: center
}

.button {
    width: 50%;
    background-color: #c2c1c1;
    color: #2b2a2a;
    font-family: monospace;
    font-size: 30px;
    border: 2px solid #2b2a2a;
    border-radius: 4px;
    margin: 10px 0;
    cursor: pointer;
}

.button:hover {
    background-color: #2b2a2a;
    color: #c2c1c1;
    border: 2px solid #c2c1c1;
    border-radius: 4px;
}
